{% extends "base.html" %}
{% load beer_tags %}
{% block title %}{{ beer.name }}{% endblock %}
    {% block content %}
    <h1>{{ beer.name }}</h1>
    <p>by {{ beer.brewery.name }} of {{ beer.brewery.location }}</p>
    <br>
    <p>{% if beer.number %}Number {{ beer.number }} at{% else %}At{% endif %} {{ beer.bar.name }}</p>
    <p>{{ beer.abv|abv }} ABV</p>
    <p>Tasting notes: {{ beer.tasting_notes }}</p>{% if beer.notes %}
    <div class="alert alert-danger">
      <p>{{ beer.notes }}</p>
    </div>{% endif %}
    <a href="{% url "beer_list" %}">Back to the list</a>
    {% endblock %}
