{% extends "base.html" %}
{% load beer_tags %}
    {% block style %}
      th, td {
        height: 100%;
      }
      table a {
        display: table;
        color: inherit;
        height: 100%;
        width: 100%;
      }
      table a, table a:hover, table a:active {
        text-decoration: none;
      }
    {% endblock %}
    {% block title %}Beer list{% endblock %}
    {% block content %}
    <h1>The Beers</h1>
      <div class="table-responsive">
        {% display_beer_table beer_list user %}
      </div>
    {% endblock %}
