{% extends "base.html" %}
{% load beer_tags %}
    {% block style %}
      table a {
        display: block;
        color: inherit;
      }
      table a, table a:hover, table a:active {
        text-decoration: none;
      }
    {% endblock %}
    {% block title %}Beer list{% endblock %}
    {% block content %}
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover table-sm">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Num</th>
              <th scope="col">Res</th>
              <th scope="col">Bar</th>
              <th scope="col">Brewery</th>
              <th scope="col">Name</th>
              <th scope="col">ABV</th>
            </tr>
          </thead>
          <tbody>
            {% for beer in beer_list %}
            <tr>
              <th scope="row"><a href="{% url "beer_detail" beer.id %}">{{ beer.number|nullable_number }}</th>

              <td><a href="{% url "beer_detail" beer.id %}">{% if beer.reserved %}Y{% endif %}</td>
              <td><a href="{% url "beer_detail" beer.id %}">{{ beer.bar.name }}</td>
              <td><a href="{% url "beer_detail" beer.id %}">{{ beer.brewery.name }}</td>
              <td><a href="{% url "beer_detail" beer.id %}">{{ beer.name }}{% if beer.notes %} <strong>(see notes)</strong>{% endif %}</td>
              <td><a href="{% url "beer_detail" beer.id %}">{{ beer.abv|abv }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    {% endblock %}
