[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
django = "*"
gunicorn = "*"
django-heroku = "*"
django-registration-redux = "*"
whitenoise = "*"
beerfest = {git = "git://github.com/remarkablerocket/beerfest",ref = "v0.0.1a3"}

[requires]
python_version = "3.7"
