{% extends "base.html" %}
{% load beer_tags %}
{% block title %}{{ beer.name }}{% endblock %}
    {% block content %}
    <h1>{{ beer.name }}</h1>
    <h2>{{ beer.abv|abv }} ABV</h2>
    <p class="mb-2">{{ beer.brewery.name }}</p>
    <p class="text-muted">{{ beer.brewery.location }}</p>
    {% if beer.number %}<p class="mb-2"><strong>Number: </strong>{{ beer.number }}</p>{% endif %}
    <p><strong>Bar:</strong> {{ beer.bar.name }}{% if beer.reserved %} (Reserved){% endif %}</p>
    <p><strong>Tasting notes:</strong> {{ beer.tasting_notes }}</p>{% if beer.notes %}
    <div class="alert alert-danger">
      <p>{{ beer.notes }}</p>
    </div>{% endif %}{% if user.is_authenticated %}{% user_starred_beer user.id beer.id as starred %}{% if starred %}
    <button type="button" id="star-unstar-btn" class="btn btn-success unstar-link">Remove from saved beers</button>
    {% else %}
    <button type="button" id="star-unstar-btn" class="btn btn-warning star-link">Add to saved beers</button>{% endif %}{% endif %}
    <a class="btn btn-primary" role="button" href="{% url "beer-list" %}">Back to the list</a>{% if user.is_authenticated %}
    <script>
      const btn = document.getElementById("star-unstar-btn");

      btn.addEventListener("click", function(e) {
        e.preventDefault();
        let data = new FormData();
        data.append("csrfmiddlewaretoken", "{{ csrf_token }}");
        const star = btn.classList.contains("star-link");
        const url = star ?
                    "{% url "beer-star" beer.id %}" :
                    "{% url "beer-unstar" beer.id %}";

        fetch(url, {
          method: "POST",
          body: data,
          credentials: "same-origin"
        }).then(function() {
          if (star) {
            btn.innerHTML = "Remove from saved beers";
            btn.classList.remove("star-link");
            btn.classList.add("unstar-link");
            btn.classList.remove("btn-warning");
            btn.classList.add("btn-success");
          } else {
            btn.innerHTML = "Add to saved beers";
            btn.classList.remove("unstar-link");
            btn.classList.add("star-link");
            btn.classList.remove("btn-success");
            btn.classList.add("btn-warning");
          }
        });
      });
    </script>{% endif %}
    {% endblock %}
